# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Env / secrets
.env
*.pem

# Streamlit
.streamlit/


# AgentCore runtime configs
.bedrock_agentcore/
.agentcore_build/

# OS
.DS_Store

# CDK
infra/cdk.out/
config/secrets.json
